<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css
         " rel = "stylesheet">
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


    <script>
        getRelativePath()
    </script>

    <meta charset="UTF-8">
    <title>UBC Insight</title>
</head>
<body>

<header>
    <h1>UBC Insight</h1>
    <!--Navigation Bar -->
    <ul id="navigationBar">
        <li><a class="active" href="index.html" id="homeButton">Home</a></li>
        <li><a href="../public/html/courseExplorer.html" id="courseExplorerNav">Course Explorer</a></li>
        <li><a href="../public/html/roomsExplorer.html" id="roomsExplorerNav">Rooms Explorer</a></li>
        <li><a href="../public/html/courseScheduling.html" id="courseSchedulingNav">Course Scheduler</a></li>
    </ul>
</header>

Welcome to UBC Insight!

</body>
</html>